<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>#{{ name }}</title>
    <link rel=stylesheet type=text/css
          href="{{ url_for('static', filename='viewer.css') }}">
</head>
<body>
<div id="fixed">
    <h3>Channels</h3>
    {% for channel in channels %}
        {% if channel == name %}
        <a href="{{ url_for('channel_name', name=channel) }}">
            <span style="background-color: #ab9ba9">
                #{{ channel }}
            </span>
        </a>
        {% else %}
        <a href="{{ url_for('channel_name', name=channel) }}">
            #{{ channel }}
        </a>
        {% endif %}
        <br />
    {% endfor %}
    <h3>Private Channels</h3>
    {% for p_channel in private_channels %}
        {% if p_channel == name %}
        <a href="{{ url_for('private_channel_name', name=p_channel) }}">
            <span style="background-color: #ab9ba9">
                #{{ p_channel }}
            </span>
        </a>
        {% else %}
        <a href="{{ url_for('private_channel_name', name=p_channel) }}">
            #{{ p_channel }}
        </a>
        {% endif %}
        <br />
    {% endfor %}
    <h3>Direct Messages</h3>
    {% for dm in dms %}
        {% if dm == name %}
        <a href="{{ url_for('dm_name', name=dm) }}">
            <span style="background-color: #ab9ba9">
                #{{ dm }}
            </span>
        </a>
        {% else %}
        <a href="{{ url_for('dm_name', name=dm) }}">
            #{{ dm }}
        </a>
        {% endif %}
        <br />
    {% endfor %}
</div>
<div class="messages" id="fluid">
    {% for message in messages %}
    <div>
        <img src="{{ message.img }}"/>
        <div class="message">
            <div class="username">{{ message.username }}</div>
            <div class="time">{{ message.time }}</div>
            <div class="msg">{{ message.msg|safe }}</div>
        </div>
    </div>
    <br/>
    {% endfor %}
</div>
</body>
</html>
